.month-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .month-view, .days-name {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
  }
  
  .day, .empty-slot {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: center;
  }
  
  .month-header button {
    padding: 5px 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .month-header button:hover {
    background-color: #0056b3;
  }
  